<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/list.css" />
    <title>게시판</title>
</head>
<body>
    <div class="board-container">
        
        <h1>게시판</h1>
        <table class="board-table">
            
            <thead>
                <tr>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < post.length; i++){ %>
                <tr>
                    <td><a href="/detail/<%= post[i]._id %>"><%= post[i].title %></a>
                    <span><a href="/post/<%= post[i]._id %>">수정</a></span>
                    <span class="delete" data-id="<%= post[i]._id %>">삭제</span> 
                    </td>
                </tr>
                <% } %>
            </tbody>
            
        </table>
    
    </div>


    <script>
        for(let i = 0; i <=document.querySelectorAll('.delete').length; i++ ) {
            document.querySelectorAll('.delete')[i].addEventListener('click', function(e){
            fetch('/delete?docid=' + e.target.dataset.id, {
                method: 'DELETE',
            })
            alert('삭제완료!')
            e.target.parentElement.parentElement.style.display = 'none'
        })
        }
        

    </script>

</body>
</html>