<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/list.css" />
    <title>게시판</title>
</head>
<body>
    <div class="board-container">
        
        <h1>게시판</h1>
        <table class="board-table">
            
            <thead>
                <tr>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < post.length; i++){ %>
                <tr>
                    <td><a href="/detail/<%= post[i]._id %>"><%= post[i].title %></a></td>
                </tr>
                <% } %>
            </tbody>
            
        </table>
    
    </div>

</body>
</html>