<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css" />
    <title>메인페이지</title>

</head>
<body>
    <h2 class="h2">메인페이지</h2>
         <div class="main-container">
            <p><a href="/login">로그인</a></p>
            <p><a href="/register">회원가입</a></p>
            <p><a href="/write">게시글등록</a></p>
            <p><a href="/list">게시판</a></p>
        </div> 
</body>
</html>